body {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header, footer {
  background-color: #000;
  color: #fff;
}